extends template

block head
	style.
		#directory-list .badge a {color:#FFFFFF}

block content
	h1 PIPdirectory listing
		small
			=" " + dir

	if readme
		div.well
			!= readme

	ul#directory-list.list-group
		each file in files
			li.list-group-item
				a(target="_blank" href="../../src/index.html?url="+file.js )=file.name
				span.badge.badge-js
					a(href="../"+file.js download) download
				span.badge.badge-docco
					a(href=file.docco target="_blank") view



