extends template

block head
	style.
		#directory-list .badge {float:right; margin-left:5px;}
		#directory-list .badge a {color:#FFFFFF}
		a span.glyphicon {margin-right:15px}

block content
	h1 PIPdirectory listing
		small
			=" " + dir

	if readme
		div.well
			!= readme

	ul#directory-list.list-group
		each file in files
			li.list-group-item
				h4
					a(target="_blank" href=player+file.js )
						span.glyphicon.glyphicon-play
						= file.name

					span.badge.badge-js
						a(href="../"+file.js download) download
					span.badge.badge-docco
						a(href=file.docco target="_blank") view

				if file.jshint.length
					bold(style="color:red")
						= file.jshint.length > 1 ? file.jshint.length + " errors found" : file.jshint.length + " error found"

					ul.list-unstyled
						each result in file.jshint
							- err = result.error;
							li
								span(style="color:#af111c")
									= "[Line " + err.line + " : Col " + err.character +"] "
								span(style="color:magenta")
									= err.reason + "\n"
								span(style="color:grey")
									= '(' + err.code + ')'




