extends template

block head
	// Initialize highlight js (do we need this on every page?)
	link(rel='stylesheet', href='http://yandex.st/highlightjs/8.0/styles/default.min.css')
	script(src= 'http://yandex.st/highlightjs/8.0/highlight.min.js')
	script.
		hljs.initHighlightingOnLoad();


block content
	div.row
		div.col-md-3
			ul.nav.affix-top.sidenav
				li: a(href='./overview.html') Overview
				li: a(href='./javascript.html') Javascript
				li: a(href='./hello.html') Hello world
				li: a(href='./slideshow.html') Slideshow
		div.col-md-9
			!=content