<div style="margin:2%; font-size:1.3em;">
	<% if (trialData.left1) { %>
		<span style="color:#0000FF"><%= trialData.left1%></span>
	<%}%>
	<% if (trialData.left1 && trialData.left2) { %>
		</br>or</br>
	<%}%>
	<% if (trialData.left2) { %>
		<span style="color:#31b404"><%= trialData.left2%></span>
	<%}%>
</div>