html {
	/* behavior */
	-webkit-user-select: none;                /* disable cut copy paste */
	-webkit-touch-callout: none;              /* disable callout, image save panel */
	-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */    	
}
#canvas {
    height: 400px;
    width: 500px;
    position: relative;
    border: 5px solid white;
    margin: auto;
    margin-top:10px;    
    -webkit-text-size-adjust: none;        
}

.stimulus {
	position:absolute;
	text-align:center;
	overflow: hidden;
}
